.wrapper {
    display: grid;
}

.poster_details {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}

img {
    height: 400px;
    width: 270px;
}

.logo_backButton {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between
}

.title_vote {
    display: grid;
    grid-auto-flow: column;
}

.details {
    display: grid;
}

.year_runtime {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 9fr;
}

