.poster {
  width: 250px;
  height: 70%;
}

.title_year {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.outer {
  position: relative;
  /*padding: 70px;*/
  z-index: 37;
}

.year {
  border: 1px solid white;
  font-weight: 100;
}

.movie_details p {
  font-weight: 100;
  font-size: 10pt;
}

.movie_title {
  font-weight: 300;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.movie_card_menu {
  visibility: hidden;
  position: absolute;
  background-color: rgb(23, 23, 32);
  margin-left: 130px;
  margin-top: 20px;
  border-radius: 15px;
}


.outer:hover {
  .movie_card_menu {
    visibility: visible;
    z-index: 100;
  }
}
