.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter_sort_menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(47, 44, 44);
}


select {
    background-color: rgb(23, 23, 23);
    border: none;
    outline: none;
    font-size: 10pt;
    color: white;
}

option {
    border: none;
    outline: none;
    font-size: 10pt;
    color: white;
}

.genres div, .select_sort {
    padding: 20px;
    z-index: 30;
}

.genres {
    display: flex;
}

.genres div {
    font-size: 10pt;
}

.genres div:hover {
    border-bottom: 3px solid red;
    cursor: pointer
}

.sort_text {
    font-weight: 100;
    margin-right: 10px;
    font-size: 10pt;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.menu_list {
    display: flex;
    flex-direction: row;
}